{{ form_start(form) }}
    
    {{ form_row(form.status) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}
    
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}"></ul>
    {{ form_label(form.tags) }}
    <ul>
        {% for tag in form.tags %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
