{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="card">
        <div class="card-header">Homepage settings</div>
        <div class="card-body">
            {% if settingsForm.vars.data.banner_image %}
                <img src="/uploads/{{ settingsForm.vars.data.banner_image  }}" width="200"/>
            {% endif %}

            {{ form(settingsForm) }}
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">Jobs</div>
        <div class="card-body">
            <a class="btn btn-primary mb-2" href="{{ path('admin_job_new') }}">Create</a>

            {% for job in jobs %}
                <div class="row mt-2">
                    <div class="col-1">#{{ job.id }}</div>
                    <div class="col-9"><a href="{{ path('job_show', { slug: job.slug } ) }}" target="_blank">{{ job.name }}</a></div>
                    <div class="col-1"><a class="btn btn-primary" href="{{ path('admin_job_edit', { id: job.id }) }}">Edit</a></div>
                    <div class="col-1">{{ include('job/_delete_form.html.twig') }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
